@media (max-width:767px){
    main{
        width: 100%;
        margin: 15px 0 30px;
    }
}

@media (max-width:480px){
    main{
    margin: 0 10px;
}
}

@media (max-width:320px){
    main{
    margin: 0 10px;
}
}