@media (max-width:767px){
    main{
        width: 100%;
        margin: 15px 0 30px;
    }
}

@media (max-width:480px){
    main{
    margin: 20px 10px 0 0;
}
    main h2, h3{
        font-size: 20px;
    }
    main .info-part1, main .info-part2{
        font-size: 14px;
    } 
}

@media (max-width:320px){
    main{
        margin: 20px 10px 0 0;
}
}