@media (max-width: 1200px){
  .conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
}


@media (max-width:767px){
    .conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
}
